<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/user_auth/style.css">
</head>
<body>
<div class="form-container">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.password.label_tag }} {{ form.password }}
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </form>
</div>
</body>
</html>
